@font-face {
    font-family: llyFont;
    src: url(./src/lly-font.ttf);
}
@font-face{
    font-family: qcFont;
    src: url(./src/qc-font.ttf)
}

.bottom-font>p {
    font-size: 15px;
    font-weight: 700;
    color: #000;
}
.img-fluid{
    margin-bottom: 10px;
}
.lly{
    font-family: llyFont;
}
.qc{
    font-family: qcFont;
}
h2{
    font-weight: bold;
}
h5{
    font-weight: bold;
}

@media screen and (min-width: 700px){
    p{
        font-size: 20px;
    }
    h2{
        font-size: 40px;
    }
    h5{
        font-size: 25px;
    }
}